@page
@model OrderModel
@{
  ViewData["Title"] = "Товар";
}

@section Styles {
<link rel="stylesheet" href="~/css/order.css" type="text/css">
}

<form method="post">
  <h1>Магазин техники</h1>
  <input name="GoodsId" value="@this.Model.Order.GoodsId" hidden />

  @if (!string.IsNullOrWhiteSpace(this.Model.Error))
  {
    <div>@this.Model.Error</div>
  }

  <p>Имя</p>
  <input type="text" name="PersonFullName" id="PersonFullName" value="@this.Model.Order.PersonFullName" required>
  <p>Адрес доставки</p>
  <input type="text" name="Address" id="Address" value="@this.Model.Order.Address" required>
  <p>Способ доставки</p>
  <input type="radio" name="DeliveryType" value="Самовывоз">
  <span>Самовызов</span>
  <input type="radio" name="DeliveryType" value="Курьерская доставка (100руб.)">
  <span>Курьерская доставка (100руб.)</span>
  <p>Какую технику вы хотите?</p>
  <input type="text" value="@this.Model.Order.GoodsName" name="GoodsName" readonly>
  <div>
    <input type="checkbox" name="PolicyAgree" required>
    <span>Я согласен на обработку персональных данных</span>
  </div>
  <div>
    <input class="btn primary" type="submit" value="Оформить доставку">
  </div>
</form>
<div>
  <a href="index">Список товаров</a>
</div>
<div class="add-link">
  <a href="addnew">Добавить товар</a>
</div>